---
- name: Deploy monitoring stack
  hosts: monitoring
  become: yes
  vars:

    # Get secrets from Vault
    aws_creds: >-
      {{
        lookup('hashi_vault',
          'secret=secret/data/ansible/aws ' +
          'token=' + lookup('env', 'VAULT_TOKEN') + ' ' +
          'url=' + lookup('env', 'VAULT_ADDR') + ' ' +
          'engine_version=2'
        )
      }}

    # Unpack required variables
    aws_region: "{{ aws_creds.AWS_REGION }}"
    ecr_account: "{{ aws_creds.ECR_ACCOUNT }}"
    aws_access_key_id: "{{ aws_creds.AWS_ACCESS_KEY_ID }}"
    aws_secret_access_key: "{{ aws_creds.AWS_SECRET_ACCESS_KEY }}"



    # Pass IP of other machines via inventory file
    backend_ip: "{{ hostvars[groups['backend'][0]].backend_ip }}"
    frontend_ip: "{{ hostvars[groups['frontend'][0]].frontend_ip }}"
  roles:
    - monitoring
